<div class="section grey-text text-darken-3 center-align">  
  <h3>Groups</h3>
</div>

<%= render 'search' %>


<ul class="collection with-header">
		<li class="collection-header"><h4>List of all the groups</h4></li>
		<% @groups.each do |group|%>
    <li class="collection-item"><div><%= group.name %><a href="#!" class="secondary-content"><%= group.location %></a></div></li>
   	<% end %>
</ul>