<nav>
  <div class="nav-wrapper">
  	<a href="/" class="brand-logo">Guardian</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
		    <li><a href="/users/<%= current_user.id %>">Welcome <%= current_user.username %></a></li>
		    <li><a href="/logout" class="waves-effect waves-light btn-large">Logout</a></li>
		    <li><a href="/users/<%=current_user.id%>/walks" class="waves-effect waves-light btn-large">See all your requests</a></li>
		  <% else %>
			  <li><a href="/signup" class="waves-effect waves-light btn">Signup</a></li>
			  <li><a href="/login" class="waves-effect waves-light btn"></i>Login</a></li>
		  <% end %>
    </ul>
  </div>
</nav>
