<h3>Welcome to GUARDIAN</h3>
<p>Do you want to to create a private channel or do you want to join one in order to find a guardian ?</p>

<div id="create_channel">
	<ul>
		<li><a href="/groups/new" id="create_private_channel" class="waves-effect waves-light btn-large">Create a private channel</a></li>
		<li><a href="/groups/index" id="create_private_channel" class="waves-effect waves-light btn-large">Join an existing channel</a></li>
		<% if current_user  %>
		<li><a href="/users/<%=current_user.id%>/walks/new" class="waves-effect waves-light btn-large">Request a walk</a></li>
		<% else  %>
		<% end  %>
	</ul>
</div>