<h1>Welcome to GUARDIAN</h1>
<p>Do you want to to create a private channel or do you want to join one in order to find a guardian ?</p>

<ul>
	<li><a href="">Create a private channel</a></li>
	<li><a href="/channels/index">Join an existing channel</a></li>
</ul>