<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've Been Invited to Safewalk</h1>
    <p>
      Hi there. A friend  of yours is a member of <%= @invite.group.name %> on Safewalk! They thought you'd be a great addition.
    </p>
    <p>
      Safewalk is a community platform built around real-life friends to empower people to connect and support one another through unsafe scenarios.
    <p>
      In order to keep things private, you'll have to create an account to check out the site.  Follow this link to get started and to check out the community: <%= link_to "create your account", signup_url(invite_token: @invite.token)
        %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
