<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're Invited to a New Safewalk Group</h1>
    <p>
      Hi there. A friend of yours is a member of <%= @invite.group.name %> on Safewalk! They thought you'd be a great addition.
    </p>
    <p>
      Now that you're invited, you can check out <%= @invite.group.name %>. In order to keep things private, your invite will expire in a week.  Follow this link to login and to check out the community: <%= link_to "login", login_url(invite_token: @invite.token)
        %>
    </p>
    <p>Thanks for making safety possible.</p>
  </body>
</html>
